.sidebar-ad {
    position: fixed;
    top: 170px;
    left: 0;
    width: 65px;
    height: 400px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    transition: width 0.3s ease;
    z-index: 998;
}

.sidebar-ad:hover {
    width: 730px;
}

.ad-content {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.ad-image {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    border-radius: 15px;
}

.ad-image2 {
    position: fixed;
    top: 170px;
    left: 0;
    width: 75px;
    height: 400px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../images/jd2.png.avif');
    background-size: cover;
    border-radius: 15px;
    transition: width 0.3s ease;
    z-index: 999;
}

.ad-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.ad-image img.active {
    opacity: 1;
    z-index: 1;
}